
.hide{

      display: none !important;
      color:white;
      background-color: rgb(122, 139, 194);
      font-weight: bold;
      font-size: 30px;
      margin-top:40px;
      position: absolute;
      border-radius: 30px;
      height: 11px;
    
}

.roww:hover .hide{
      display: block !important;
      color:white;
}

.table-container{

      width: 900px !important;
      position: relative;
      overflow: scroll;
      left:20%;
      margin-top:30px;
}


@media (max-width:678px){

      .table-container{
            width: 500px !important;
      }
}



 